<html>
<head>
  <title>Train Search</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="train.js"></script>
  <script type="text/javascript"></script>
</head>
<body>
  <div ng-app="train" ng-controller="trainCtrl">
    For Selective Bind PNR:<span>{{myData.pnr}}</span>
    <span>Enter PNR to Search : <input type="text" ng-model="pnrNo"/></span>
    <button ng-click='callApi(pnrNo)'>Search</button>
   <ul>
        <li ng-repeat="(key,val) in myData">{{key}} : {{val}}</li>
    </ul>
  </div>
</body>
</html>
